services:
  dejpeg:
    build:
      context: .
      dockerfile: DOCKERFILE
    volumes:
      - .:/build/repo
      - dejpeg-gradle:/root/.gradle
      - $ANDROID_HOME:/opt/sdk
    working_dir: /repo
    environment:
      - ANDROID_HOME=/opt/sdk
      - SOURCE_DATE_EPOCH=0
      - TZ=UTC
      - LANG=C.UTF-8

volumes:
  dejpeg-gradle:
